<ion-header>
  <ion-navbar color="orange">
    	<button ion-button menuToggle>
    		<ion-icon name="menu"></ion-icon>
    	</button>
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
 	<ion-list *ngIf="posts">
 		<ion-item class="single-post" *ngFor="let post of posts" text-wrap (click)="viewPost(post)">
 			<ion-thumbnail item-start>
 				<img src="{{ post.thumbnailUrl }}">
 			</ion-thumbnail>
 			<h2>{{ post.title }}</h2>
 			<p>{{ post.url }}</p>
 		</ion-item>
 	</ion-list>
</ion-content>
